.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.Header nav a {
  color: black;
  font-weight: normal;
  margin: 0 10px;
  text-decoration: none;
}

.Header nav a:hover {
  color: green;
}

/*---- Home Styling ----*/

.Home {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.Home h2 {
  font-size: 48px;
  font-weight: normal;
}

.Home h2 span {
  color: magenta;
}

.WeatherInfo {
  display: flex;
  justify-content: space-between;
}

.WeatherInfo_Basic {
  border: 2px solid black;
  flex-basis: 30%;
  padding: 20px;
  text-align: center;
}

.WeatherInfo_Type {
  font-size: 60px;
  margin: 0;
  margin-bottom: 30px;
}

.WeatherInfo_Extra {
  border: 2px solid black;
  border-left: 0px;
  display: flex;
  flex-basis: 70%;
  padding: 20px;
  /* text-align: center; */
}

.WeatherInfo_Extra_Column {
  flex-basis: 50%;
}

.WeatherInfo_Image {
  font-size: 150px;
}

.Label {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.WeatherInfo_Temperature {
  font-size: 84px;
  margin: 0;
}

.WeatherInfo_Temperature_Small {
  font-size: 48px;
  margin: 0;
  margin-bottom: 30px;
}
