body {
  background-color: #fffaeb;
  font-family: "Poppins", sans-serif;
}

.Header {
  align-items: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 0;
  max-width: 1080px;
  padding: 0 25px;
}

.HeaderWrapper {
  box-shadow: 0px 5px 10px #888888;
  background-color: #fff5d9;
  width: 100%;
}

.Header nav a {
  color: black;
  font-weight: normal;
  margin: 0 10px;
  text-decoration: none;
}

.Header nav a:hover {
  color: #916b00;
}

/*---- Home Styling ----*/

.Home {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.Home h2 {
  font-size: 48px;
  font-weight: 500;
}

.Home h2 span {
  font-style: italic;
}

.WeatherInfo {
  border-radius: 10px;
  box-shadow: 2px 2px 15px #888888;
  display: flex;
  justify-content: space-between;
}

.WeatherInfo_Basic {
  margin: 10px;
  border-radius: 10px;
  flex-basis: 30%;
  padding: 20px;
  text-align: center;
}

.WeatherInfo_Type {
  font-size: 60px;
  margin: 0;
  margin-bottom: 30px;
}

.WeatherInfo_Extra {
  display: flex;
  flex-basis: 70%;
  padding: 20px;
  /* text-align: center; */
}

.WeatherInfo_Extra_Column {
  flex-basis: 50%;
}

.WeatherInfo_Image {
  font-size: 150px;
}

.Label {
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.WeatherInfo_Temperature {
  font-size: 84px;
  margin: 0;
}

.WeatherInfo_Temperature_Small {
  font-size: 48px;
  margin: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 640px) {
  .Header {
    flex-direction: column;
  }
  .HeaderWrapper {
    height: 150px;
  }
  .Home h2 {
    font-size: 30px;
  }
  .Header nav {
  }
  .Header nav a {
    font-size: 15px;
  }
  .WeatherInfo {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .WeatherInfo_Extra {
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: space-between;
  }
}
